.Foter{
    padding: 1.5vw 8vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #404149;

    p{
        font-size: 16px;
        line-height: 100%;
        color: #FFFFFF;
    }
}