.Product{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 5vw 8vw;

    h1{
        font-size: 33px;
        color: #000000;
        font-weight: 400;
        line-height: 100%;
    }
}

.container{
    display: flex;
    flex-direction: column;
    gap: 10px;

    h1{
        font-size: 23px;
        font-weight: 100;
        color: #000000;
        line-height: 100%;
    }
}

.contai_p{
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    gap: 2px;

    P{
        font-size: 12px;
        color: #000000;
    }
}

.contai_p_a{
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding-bottom: 40px;

    h1{
        font-size: 21px;
        color: #000000;
        font-weight: 400;
        line-height: 100%;
    }

        P{
        font-size: 12px;
        color: #000000;
        padding-left: 2vw;
    }
}

